/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {

    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;

}

.form {
    width: 100%;
    border: 4px solid royalblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

.form input {
    padding: 10px;
    border: 2px solid red;
}

.form button {
    padding: 10px;
    border: 2px solid rgb(140, 0, 255);
} */